
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset('css/table.css') }}" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{{ asset('img/monkey.png') }}" alt="sing" width="40px" height="40px">
            <a target="_blank" href="#" class="navbar-brand">Bonobook</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/profile">Mon Profil</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{ user.getNom() }}  |  {{ user.getPrenom() }}</strong>
                       <a href="/logout" class="logout"> <span class="glyphicon glyphicon glyphicon-log-out"></span></a>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{#+=========================================================#}
<div class="container container2s">
    <div class="row">
        <div class="">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>Friends List

                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for friend in myfriends %}
                            <li class="list-group-item">
                                <div class="checkbox">

                                    <div >
                                        Prenom : {{ friend.getPrenom() }}
                                    </div>
                                    <div >
                                        Nom : {{ friend.getNom() }}
                                    </div>
                                    <div >
                                        Age : {{ friend.getAge() }} ans
                                    </div>
                                    <div >
                                        Race : {{ friend.getRace() }}
                                    </div>
                                    <div >
                                        Famille : {{ friend.getFamille() }}
                                    </div>
                                    <div >
                                        Nourriture : {{ friend.getNourriture() }}
                                    </div>
                                </div>
                                <div class="pull-right action-buttons">
                                    <input type="hidden" class="id_element" value="{{ friend.getId() }}">
                                    <a href="" class="trash"><span class="glyphicon glyphicon-trash"></span></a>

                                </div>
                            </li>

                        {% endfor %}

                    </ul>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container container2s">
    <div class="row">
        <div class="">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>Other Friends

                </div>
                <div class="panel-body">
                    <ul class="list-group">

                        {% for notfriend in notmyfriends %}
                            <li class="list-group-item">
                                <div class="checkbox">

                                    <div >
                                        Prenom : {{ notfriend.getPrenom() }}
                                    </div>
                                    <div >
                                        Nom : {{ notfriend.getNom() }}
                                    </div>
                                    <div >
                                        Age : {{ notfriend.getAge() }} ans
                                    </div>
                                    <div >
                                        Race : {{ notfriend.getRace() }}
                                    </div>
                                    <div >
                                        Famille : {{ notfriend.getFamille() }}
                                    </div>
                                    <div >
                                        Nourriture : {{ notfriend.getNourriture() }}
                                    </div>
                                </div>
                                <div class="pull-right action-buttons">
                                    <input type="hidden" class="id_element1" value="{{ notfriend.getId() }}">
                                    <a href="" class="plus"><span class="glyphicon glyphicon-plus"></span></a>

                                </div>
                            </li>

                        {% endfor %}


                    </ul>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/JQuery.js') }}"></script>
<script src="{{ asset('js/Script.js') }}"></script>